<extend name="Public/base"/>

<block name="script">
    <script type="text/javascript" src="__ZUI__/lib/highchart/highcharts.js"></script>
</block>

<block name="body">
	 <table class="table table-datatable table-hover">
	  <thead>
	    <tr>
		   <th>序号</th>
	      <th>文章id</th>
	      <th>文章标题</th>
	      <th>时间</th>
   
	    </tr>
	  </thead>
	  <tbody>
	  	<volist name="list" id="vo" key="">
		   <tr>
		   	<td>{$k1}</td>
		   	<td>{$vo.sourceId}</td>
		   	<td><a href="{$vo.source}" target="_blank">{$vo.title}</a></td>
		   	<td>{$vo.publishTime|date='Y-m-d H:i:s',###}</td>
		   </tr>
	   </volist>
	   <tr><td colspan="4">{$page}</td></tr>
	  </tbody>
	</table>




	 <!--JS 代码 -->
    <script>
       // $('#main-content').css('left', 300);
        $('table.datatable').datatable({checkable: true});

    </script>

</block>
<block name="modal">
    <div class="modal fade" id="settingCount">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">设置统计图</h4>
                </div>
                <div class="modal-body">
                    <div class="with-padding">
                        <label>默认展示天数 </label><input class="form-control" name="count_day" value="{$count.count_day}">

                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn " data-role="saveCountSetting">
                        <i class="icon-ok"></i> 保存
                    </button>
                    <button class="btn " data-dismiss="modal">
                        <i class="icon-remove"></i> 取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('[data-role=saveCountSetting]').click(function () {
            $.post("__SELF__", {count_day: $('[name=count_day]').val()}, function (msg) {
                handleAjax(msg);
            });
        })
    </script>
</block>